 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="container-fluid">
  <div class="row">

	<div class="jumbotron">
	  <h1>Welcome to Music Shack</h1>
	  <p>....</p>
	  
	   <p><a class="btn btn-primary btn-lg" href="/login" role="button">login</a></p>

	 <!-- <p><a class="btn btn-primary btn-lg" href="/messages/new" role="button">upload a song</a></p>-->
	</div>

	</div>



	<div class="row">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>
		</div>
	</div>
</div>

